.hotel-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.hotel-card img {
    width: 1000px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.hotel-card h3 {
    margin: 10px 0;
}


.hotel-card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #1e3a8a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}