/* Reset Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    min-height: 100vh;
}

/* Root */

#root {
    min-height: 100vh;
}

/* Images */

img {
    max-width: 100%;
    display: block;
}

/* Buttons */

button {
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.9;
}

/* Links */

a {
    text-decoration: none;
}

/* Lists */

ul {
    list-style: none;
}